/** Import Chroma OneDark theme */
@import "assets/css/chroma-onedark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .skip-content-nav {
    @apply sr-only;
  }

  .body {
    @apply bg-black;

    &__main {
      @apply container mx-auto p-4 bg-white;
    }
  }

  .site-header {
    &__inner {
      @apply navbar bg-base-100;
    }

    &__start {
      @apply navbar bg-base-100;
    }

    &__branding {
      @apply btn btn-ghost normal-case text-xl;
    }

    &__center {
      @apply navbar-center hidden lg:flex;
    }

    &__end {
      @apply navbar-end;
    }
  }

  .dropdown-menu {
    &__list {
      @apply menu menu-horizontal px-1;
    }

    /* &__item {
      @apply m-4 flex-shrink lg:my-0 lg:pr-2;

      &--has-children {
        @apply static max-h-5;
      }
    }

    &__item--has-children &__link {
      @apply bg-no-repeat pr-6;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M4.293 7.293a1 1 0 011.414 0L10 11.586l4.293-4.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z' clip-rule='evenodd'/%3E%3C/svg%3E");
      background-size: 20px 20px;
      background-position: right 4px center;
    }

    &__children {
      @apply absolute transition delay-300 duration-300 invisible z-10 flex-grow basis-[100%] items-center
      left-0 p-10 max-w-fit
      border-b border-neutral-200  text-neutral-700 bg-neutral-50
      dark:text-white dark:bg-neutral-800 dark:border-neutral-500
      lg:!flex lg:basis-auto;
    }

    &__item--has-children:hover &__children {
      @apply visible;
    } */
  }

  .section-contents {
    &__list {
      @apply break-after-column columns-2;
    }

    &--column &__list {
      @apply columns-1;
    }

    &__item {
      @apply block w-full px-6 py-2 transition duration-150 ease-in-out;
    }

    &__link {
    }
  }

  .directory {
    @apply container  mx-auto px-5 py-2 lg:px-32 lg:pt-12;

    &__list {
      @apply grid auto-rows-max gap-4  md:grid-cols-2  lg:grid-cols-3;
    }

    &__item {
      @apply block;
    }
  }

  .card {
    @apply flex flex-col p-4 rounded-lg bg-white drop-shadow-xl shadow-gray-300 dark:bg-neutral-700 cursor-pointer;

    &__header {
    }

    &__title {
      @apply text-xl font-bold mb-1;
    }

    &__body {
      @apply flex-grow line-clamp-3;
    }

    &__footer {
    }

    &__aside {
      @apply order-first aspect-video overflow-hidden;
    }

    &__image {
      @apply w-full;
    }
  }

  .chroma {
    @apply p-4 mx-4;
  }

  /**
 * Post tags
 *
  * @see https://cssglobe.com/pure-css3-post-tags/
 */
  .post-tags {
    &__list {
      @apply flex flex-row flex-wrap text-xs my-2 pl-3;
    }

    &__item {
      /* @apply inline-flex items-center font-bold uppercase px-3 py-1 bg-blue-200 text-blue-700 rounded-full; */
      @apply relative mx-2.5 my-1 inline-block;
      --post-tag-height: 1.5rem;
      box-sizing: border-box;
      height: var(--post-tag-height);
    }

    &__link {
      @apply inline-block py-0 px-2.5 h-full box-border bg-blue-900 text-white rounded-r;
      line-height: var(--post-tag-height);
    }

    &__item::before {
      content: "";
      /** left: 1px - height * cos(45deg) */
      left: calc(1px + -0.70710678 * var(--post-tag-height));
      /** Border width is:
     * top and bottom: half the element total height (top + bottom = height).
     * right: cos(45deg) * height
     * left: 0
     */
      border-width: calc(var(--post-tag-height) / 2);
      border-right-width: calc(var(--post-tag-height) * 0.70710678);
      @apply absolute top-0 border-l-0 w-0 h-0 border-solid border-transparent border-r-blue-900;
    }

    &__item::after {
      content: "";
      @apply absolute -left-0.5 w-1 h-1 rounded-sm bg-white shadow-[-1px_-1px_2px_-1px_#004977];
      top: calc(var(--post-tag-height) / 2 - 2px);
    }
  }

  .post-link {
    @apply inline-block text-blue-800 transition duration-150 dark:text-blue-400;

    &:visited {
      @apply text-blue-800 dark:text-blue-400;
    }

    &:focus {
      @apply text-red-600 dark:text-blue-500;
    }

    &:active {
      @apply text-red-700 dark:text-blue-600;
    }

    &:hover {
      @apply text-red-600 dark:text-red-500;
    }
  }

  .single {
    @apply prose prose-slate lg:prose-xl dark:prose-invert prose-a:text-blue-600;

    &__content {
      /* & ul li::before {
        content: "▸";
        @apply inline-block float-left ml-2 mr-1 text-red-700;
      } */
    }
  }
}
